{% load static %}
<div class="anons_content">
    <h4 class="anons_title">ХАБАРЛАНДЫРУ!</h4>
    <div class="anons_text">Әзірге хабарландыру енгізілмеген! Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum rerum tempore sapiente odio distinctio ipsam molestiae possimus quidem in numquam reprehenderit ut, autem aliquam nesciunt officiis id asperiores exercitationem dolorem.
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam pariatur expedita fugiat aperiam necessitatibus commodi odio sed non, minima doloremque quo veritatis maiores maxime facilis tempore nesciunt laudantium ipsa eius!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque facere molestias necessitatibus repellendus nemo accusantium blanditiis? Unde minima vitae incidunt numquam mollitia, velit, dolores repudiandae in quidem possimus officiis esse.
    </div>   
</div>