{% load static %}
<!----inner__right--------------------->

<div class="inner__right">
    <div class="inner__content">
        <div class="profile">
            <img class="profile__photo" src="{% static 'main/img/team/director.png' %}" alt="">
            <div class="profile__content">
                <h4 class="profile__name">Айзакова Алима Жолмуратовна</h4>
                <div class="profile__profession">Мектеп директоры</div>
            </div>
            <button type="button" class="btn btn-primary">Директор блогы</button>
        </div>




        <div class="progress">
            <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <div class="progress">
            <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <div class="progress">
            <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <div class="progress">
            <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <div class="progress">
            <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
          </div>




<!----symbols --------------------->
        <div class="symbols">
            <h3>Қазақстан Республикасының Мемлекеттік рәміздері</h3>
            <div class="symbols__item">
                <div class="symbols__title">Қазақстан Республикасының Мемлекеттік Туы</div>
                <img class="symbols__img"src="{% static 'main/img/flag.jpg' %}" alt="">
                <!--<div class="symbols__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis mollitia iusto sapiente odio nam corrupti omnis repellendus voluptas. Odit explicabo modi voluptates adipisci magni necessitatibus facilis deleniti velit quidem vitae?</div>-->
            </div>
            <div class="symbols__item">
                <div class="symbols__title">Қазақстан Республикасының Мемлекеттік Елтаңбасы</div>
                <img class="symbols__img symbols__img--size"src="{% static 'main/img/gerb.png' %}" alt="">
                <!--<div class="symbols__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis mollitia iusto sapiente odio nam corrupti omnis repellendus voluptas. Odit explicabo modi voluptates adipisci magni necessitatibus facilis deleniti velit quidem vitae?</div>-->
            </div>
            <div class="symbols__item">
                <div class="symbols__title">Қазақстан Республикасының Мемлекеттік Әнұраны</div>
                <img class="symbols__img"src="{% static 'main/img/gimn.png' %}" alt="">
                <!--<div class="symbols__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis mollitia iusto sapiente odio nam corrupti omnis repellendus voluptas. Odit explicabo modi voluptates adipisci magni necessitatibus facilis deleniti velit quidem vitae?</div>-->
            </div>
            
        </div><!----symbols end--------------------->
    </div>
</div><!----inner__right end--------------------->

    <ul class="comments">
        <li class="comments__item">
            <div class="comments__header">
                <img src="{% static 'main/img/2.jpg' %}" alt="" class="commenta__avatar">
                <div class="comments__author">
                    <div class="comments__name">MootionDream</div>
                    <time class="comments__pubdate" datatime="2022-11-25 15:35"> 1 неделю назад</time>
                </div>
            </div>
            <div class="comments__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. A veniam consequatur saepe accusamus amet, nobis ipsam debitis assumenda deserunt quo earum aspernatur nulla quaerat ab dolorem eveniet officiis animi adipisci?</div>
            <button class="comments__reply">Ответить</button>

            <ul class="comments">
                <li class="comments__item">
                    <div class="comments__header">
                        <img src="{% static 'main/img/2.jpg' %}" alt="" class="commenta__avatar">
                        <div class="comments__author">
                            <div class="comments__name">MootionDream</div>
                            <time class="comments__pubdate" datatime="2022-11-25 15:35"> 1 неделю назад</time>
                        </div>
                    </div>
                    <div class="comments__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. A veniam consequatur saepe accusamus amet, nobis ipsam debitis assumenda deserunt quo earum aspernatur nulla quaerat ab dolorem eveniet officiis animi adipisci?</div>
                    <button class="comments__reply" type="button">Ответить</button>  
                    
                </li>
            </ul>  
            <ul class="comments">
                <li class="comments__item">
                    <div class="comments__header">
                        <img src="{% static 'main/img/2.jpg' %}" alt="" class="commenta__avatar">
                        <div class="comments__author">
                            <div class="comments__name">MootionDream</div>
                            <time class="comments__pubdate" datatime="2022-11-25 15:35"> 1 неделю назад</time>
                        </div>
                    </div>
                    <div class="comments__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. A veniam consequatur saepe accusamus amet, nobis ipsam debitis assumenda deserunt quo earum aspernatur nulla quaerat ab dolorem eveniet officiis animi adipisci?</div>
                    <button class="comments__reply" type="button">Ответить</button>  
                    
                </li>
            </ul> 
        </li>
    </ul>
    </div>
</div>