{% load static %}
<h2>Үздіктер үздігі</h2>
                    <div class="student">
                        <div class="profile__student">
                            <img class="student__foto" src="{% static 'main/img/stud/st1.jpg' %}" alt="">
                            <div class="student__header">
                                <div class="student__name">Мукашев Ануар Жанболатович</div>
                                <div class="student__class">10"А" сынып окушысы</div>
                                <div class="student__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                    Culpa cum dolorem ipsum labore, quasi temporibus? </div>
                            </div>
                            <div class="student__footer">
                                <div class="student__link">оставить комментарии</div>
                                <div class="student__read">подробнее</div>
                            </div>

                        </div>

                        <div class="profile__student">
                            <img class="student__foto" src="{% static 'main/img/stud/st1.jpg' %}" alt="">
                            <div class="student__header">
                                <div class="student__name">Мукашев Ануар Жанболатович</div>
                                <div class="student__class">10"А" сынып окушысы</div>
                                <div class="student__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                    Culpa cum dolorem ipsum labore, quasi temporibus? </div>
                            </div>
                            <div class="student__footer">
                                <div class="student__link">оставить комментарии</div>
                                <div class="student__read">подробнее</div>
                            </div>

                        </div>

                        <div class="profile__student">
                            <img class="student__foto" src="{% static 'main/img/stud/st1.jpg' %}" alt="">
                            <div class="student__header">
                                <div class="student__name">Мукашев Ануар Жанболатович</div>
                                <div class="student__class">10"А" сынып окушысы</div>
                                <div class="student__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                    Culpa cum dolorem ipsum labore, quasi temporibus? </div>
                            </div>
                            <div class="student__footer">
                                <div class="student__link">оставить комментарии</div>
                                <div class="student__read">подробнее</div>
                            </div>

                        </div>

                        <div class="profile__student">
                            <img class="student__foto" src="{% static 'main/img/stud/st1.jpg' %}" alt="">
                            <div class="student__header">
                                <div class="student__name">Мукашев Ануар Жанболатович</div>
                                <div class="student__class">10"А" сынып окушысы</div>
                                <div class="student__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                    Culpa cum dolorem ipsum labore, quasi temporibus? </div>
                            </div>
                            <div class="student__footer">
                                <div class="student__link">оставить комментарии</div>
                                <div class="student__read">подробнее</div>
                            </div>

                        </div>

                    </div>