{% load static %}
<div class="footer">
	<div class="footer__inner">
		<div class="footer__left">
			<img class="map" src="{% static 'main/img/dr.jpg' %}" alt="">
		</div>
		<div class="footer__right">
			<div class="footer__address">
				<h3 class="footer__title">Мекен жай:</h3>
				<ul >
					<li>Қазақстан Республикасы, Ақтөбе обл.</li>
					<li>Ақтөбе қаласы,Әбілқайыр хан көшесі 7</li>
					<li>тел.: 8-713-244-59-06, 8-713-244-59-06</li>
					<li>e-mail.: school34@mail.ru</li>

				</ul>
			</div>
			<div class="footer__social">инстаграмм</div>
			</div>
		
	</div>
	<div class="footer__created">
		<div class="created__inner">
            
			<div class="created__name">ИП "Жаксиликов М.Ж."</div>
			<img class="created__logo" src="img/logo_created.png" alt="mootiodream">
			<div class="created__address">8 705 414 44 56</div>
		</div>
	</div>
</div>