<!----history--------------------->
<div class="history">
    <div class="history__video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/SanNUZ_5egI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="history__content">
        <div class="history__text">
            <p>Ақтөбе қаласындағы №34 орта мектебінің іргетасы 1962 жылы қаланып, қаладағы ең алғашқы қазақ мектептерінің қатарындағы № 21 мектебі болып ашылды.

        Ал 1991 жылдың 1 қыркүйегінен бастап, Ақтөбе қалалық халық депутаттар кеңесінің атқарушы комитетінің 1991 жылдың 1 тамызындағы № 1376 шешімімен № 34 қазақ мектебі болып ашылды.
            </p>
            <a href="#">толыгырак</a>
        </div>
    </div>
</div><!----history end--------------------->