<div class="nav">
	<ul class="nav__list">
		<li class="nav__item "><a class="nav__link" href="{% url 'home' %}">басты бет</a></li>
		<li class="nav__item"><a class="nav__link" href="pages/style-demo.html">Оқу үрдісі</a></li>
		<li class="nav__item"><a class="nav__link" href="pages/full-width.html">тәрбие жұмысы</a></li>
		<li class="nav__item"><a class="nav__link" href="pages/3-columns.html">әдістемелік жұмыс</a></li>
		<li class="nav__item"><a class="nav__link" href="pages/portfolio.html">мектептің өзін-өзі бағалау құжаттары</a></li>
		<li class="nav__item"><a class="nav__link" href="#">конкурс</a></li>
		<li class="nav__item"><a class="nav__link" href="#">тамақтану</a></li>
		<li class="nav__item"><a class="nav__link" href="{% url 'Adm_home' %}">вход</a></li>
		
	</ul>
</div>