{% load static %}
<div class="slider">
  <div class="itc-slider" data-slider="itc-slider" data-loop="true" data-autoplay="true" data-interval="5000">
	  <div class="itc-slider-wrapper">
	    <div class="itc-slider-items">
	      <div class="itc-slider-item">
	        <img src="{% static 'main/img/i1.png' %}" alt="">
	      </div>
	      <div class="itc-slider-item">
	        <img src="{% static 'main/img/2.2.png' %}" alt="">
	      </div>
	      <div class="itc-slider-item">
	        <img src="{% static 'main/img/3.png' %}" alt="">
	      </div>
	    </div>
	  </div>

	   <ol class="itc-slider-indicators">
    <!-- data-slide-to="0" – для перехода к 1 слайду -->
    <li class="itc-slider-indicator" data-slide-to="0"></li>
    <!-- data-slide-to="1" – для перехода к 2 слайду -->
    <li class="itc-slider-indicator" data-slide-to="1"></li>
    <!-- data-slide-to="2" – для перехода к 3 слайду -->
    <li class="itc-slider-indicator" data-slide-to="2"></li>
  </ol>
  <!-- Кнопки для перехода к предыдущему и следующему слайду -->
  <!-- <button class="itc-slider-btn itc-slider-btn-prev">назад</button>
  <button class="itc-slider-btn itc-slider-btn-next">вперед</button> -->

  <div class="slider__text">
    <h2>МЕКТЕП МАҚСАТЫ</h2>
    <p>Жаңартылған білім беру аясында оқу-тәрбие, әдістемелік жұмыстарды жоғары кәсіби деңгейде ұйымдастыра отырып, мұғалімдердің педагогикалық біліктілігі мен теориялық білім деңгейін көтеру, оқытудың тиімді стратегиясын қолдануға ықпал ету
    </p>
  </div>

</div>
        <!-- <img src="{% static 'main/img/i1.png' %}" alt="" class="slider__photo"> -->
        
    </div>
    