{% load static %}
<ul class="pagination">
    {% if page.has_previous %}
    <li class="pagination__item">
         <a class="pagination__link" href="?page={{ page.previous_page_number }}">&lt;</a>
     </li>
     {% endif %}
     <li class="pagination__item">
         <a class="pagination__link" href="{{ page.paginator.num_pages }}">{{ page.number }}</a>
     </li>
     
     {% if page.has_next %}
     <li class="pagination__item">
         <a class="pagination__link" href="?page={{ page.next_page_number }}">&gt;</a>
     </li>
     {% endif %}
 </ul>